::-webkit-scrollbar {
    width: 5px;
    background: var(--background_highlighted);
}

::-webkit-scrollbar-thumb {
    background: var(--background_highlighted);
    border-radius: 5px;
}

.vkuiSimpleCell__indicator {
    flex-shrink: 0;
}

.vkuiInfoRow,
.vkuiHeader,
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}