::-webkit-scrollbar {
    width: 5px;
    background: inherit;
    background: var(--field_border);
}

::-webkit-scrollbar-thumb {
    background: var(--field_border);
    border-radius: 5px;
}

.vkuiSimpleCell__indicator {
    flex-shrink: 0;
}